---
import "../styles/index.css";

import ProfilePicture from "../assets/pfp.jpg";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import ImageGlow from "../components/ImageGlow.astro";
import Icon from "../components/Icon.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import { name, subtitle, openGraph } from "spectre:globals";
import "./styles/global.css";
import Message from "../components/Message.astro";
import Newsletter from "../components/NewsletterCard.astro";

const [posts, projects, about, challenges, quickInfo, socials] =
  await Promise.all([
    getCollection("posts", (post) => post.data.draft !== true),
    getCollection("projects"),
    getEntry("other", "about"),
    getCollection("challenges"),
    getCollection("quickInfo"),
    getCollection("socials"),
  ]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---

<Layout
  title={openGraph.home.title || name}
  description={openGraph.home.description}
  pagefindIgnore
>
  <div class="layout-grid-left" slot="left">
    <Card class="flex-col-card">
      <ImageGlow
        quality={100}
        src={ProfilePicture}
        alt="Louis looking out of a window"
        loading="eager"
      />
      <p class="title">{name}</p>
      <p class="subtitle">
        {subtitle}
        <a href="https://linktr.ee/johnnyfinchdev" target="_blank"
          >JohnnyFinchDev</a
        >
      </p>
      <ul class="overview-list">
        {
          quickInfo.map((info) => (
            <li>
              <Icon
                type={info.data.icon.type}
                name={info.data.icon.name as any}
                width={24}
                height={24}
                class="glow-icon"
              />
              <span>{info.data.text}</span>
            </li>
          ))
        }
      </ul>
    </Card>
    <Card>
      <h3 class="no-mt">Redes Sociales</h3>
      <ul class="overview-list">
        {
          socials.map((item) => (
            <li>
              <a href={item.data.link} class="socials-link">
                <Icon
                  type={item.data.icon.type}
                  name={item.data.icon.name as any}
                  width={24}
                  height={24}
                  class="glow-icon"
                />
                <span>{item.data.text}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </Card>
  </div>
  <div class="layout-grid-right" slot="right">
    <Card>
      <div class="header-container">
        <Icon
          type="lucide"
          name="info"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>Información</h2>
      </div>
      <div class="prose">
        <About />
      </div>
    </Card>
    <Card>
      <div class="header-container">
        <Icon
          type="lucide"
          name="rss"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>Últimos posts</h2>
      </div>
      <div class="content-container">
        {
          posts.length === 0 ? (
            <Message resource="posts" />
          ) : (
            posts
              .sort(
                (a, b) =>
                  b.data.createdAt.getTime() - a.data.createdAt.getTime(),
              )
              .slice(0, 2)
              .map((post) => (
                <a href={`/blog/${post.id}`} class="post-container">
                  <div class="post-header">
                    <h3>{post.data.title}</h3>
                    <span class="post-date">
                      {post.data.createdAt.toLocaleDateString()}
                    </span>
                  </div>
                  <span>{post.data.description}</span>
                </a>
              ))
          )
        }
      </div>
    </Card>
    <Card>
      <div class="header-container">
        <Icon
          type="lucide"
          name="folder-git"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>Últimos proyectos</h2>
      </div>
      <div class="content-container">
        {
          projects.length === 0 ? (
            <Message resource="proyectos" />
          ) : (
            projects
              .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
              .slice(0, 2)
              .map((project) => (
                <a href={`/projects/${project.id}`} class="post-container">
                  <div class="post-header">
                    <h3>{project.data.title}</h3>
                    <span class="post-date">
                      {project.data.date.toLocaleDateString()}
                    </span>
                  </div>
                  <span>{project.data.description}</span>
                </a>
              ))
          )
        }
      </div>
    </Card>
    <Card>
      <div class="header-container">
        <Icon
          type="lucide"
          name="swords"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>Últimos retos</h2>
      </div>
      <div class="content-container">
        {
          challenges.length === 0 ? (
            <Message resource="retos" />
          ) : (
            [...challenges]
              .sort((a, b) => b.data.title.localeCompare(a.data.title))
              .slice(0, 2)
              .map((challenge) => (
                <a href={`/challenges/${challenge.id}`} class="post-container">
                  <div class="post-header">
                    <h3>{challenge.data.title}</h3>
                    <span class="post-date">
                      {challenge.data.date.toLocaleDateString()}
                    </span>
                  </div>
                  <span>{challenge.data.description}</span>
                </a>
              ))
          )
        }
        <a href="/challenges" style={{ color: "#FFEAE3" }}>
          <div
            style={{
              backgroundColor: "#9C5843FF",
              padding: "10px",
              margin: "10px",
              borderRadius: "0.25rem",
              textAlign: "center",
            }}
          >
            Ver todos los retos ->
          </div>
        </a>
      </div>
    </Card>
    <Newsletter />
  </div>
</Layout>
