---
import '../styles/reset.css';
import '../styles/globals.css';

import Background from '../components/Background.astro';
import Navbar from '../components/Navbar.astro';
import LayoutGrid from '../components/LayoutGrid.astro';
import { name, themeColor, twitterHandle } from 'spectre:globals';

interface Props {
	title: string;
	description?: string;
	image?: ImageMetadata;
	pagefindIgnore?: boolean;
	article?: {
		createdAt: Date;
		updatedAt?: Date;
	};
}

const { title, description, image, pagefindIgnore, article } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preload" href="/fonts/Geist.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="/fonts/GeistMono.woff2" as="font" type="font/woff2" crossorigin="">

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<meta name="theme-color" content={themeColor}>

		<link rel="canonical" href={Astro.site} />

		<meta name="og:title" content={title} />
		{description && <meta name="og:description" content={description} />}
		<meta name="og:image" content={image?.src || '/img/og.jpg'} />
		<meta property="og:logo" content="/favicon.svg" />
		<meta name="og:url" content={Astro.site} />
		{!article && <meta name="og:type" content="website" />}
		<meta name="og:locale" content="en" />

		{article && (
			<meta name="og:type" content="article" />
			<meta property="article:published_time" content={article.createdAt.toISOString()} />
			<meta name="author" content={name} />
		)}

		{article && article.updatedAt && (
			<meta property="article:modified_time" content={article.updatedAt.toISOString()} />
		)}

		<meta name="twitter:card" content="summary_large_image" />
		{twitterHandle && (
			<meta name="twitter:site" content={twitterHandle} />
			<meta name="twitter:creator" content={twitterHandle} />
		)}
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:image" content={image?.src || '/img/og.png'} />
	</head>
	<body>
		<img src="https://tracker.metricool.com/c3po.jpg?hash=ce28847c0ee8bd73299375700a2cd46c"/>
		<style>
			#topBtn {
			display: none;
			position: fixed;
			bottom: 20px;
			right: 15px;
			z-index: 99;
			font-size: 18px;
			border: none;
			outline: none;
			background-color: rgb(255, 145, 112);
			color: black;
			cursor: pointer;
			padding: 15px;
			border-radius: 0.25rem;
			rotate: calc(270deg);
			opacity: 30%;
		}

		#topBtn:hover {
			background-color: rgb(122, 109, 105);
			color: white;
		}
	</style>
		<button id="topBtn" title="Ir arriba">-></button>
		<main data-pagefind-ignore={pagefindIgnore}>
			<Navbar />
			<LayoutGrid>
				<slot name="left" slot="left" />
				<slot name="right" slot="right" />
			</LayoutGrid>
			<slot name="404" />
		</main>
		<Background />


	<script>
		let topBtn = document.getElementById("topBtn");

		window.onscroll = function() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				topBtn.style.display = "block";
			} else {
				topBtn.style.display = "none";
			}
		};

		// Aquí sí tiene acceso al botón
		topBtn.addEventListener("click", function() {
			window.scrollTo({ top: 0, behavior: 'smooth' });
		});
	</script>
	</body>
</html>
